<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778331978928-t1hee9kt7al51uubbqtr2jvihev6qlqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778331978928-t1hee9kt7al51uubbqtr2jvihev6qlqq</string>
	<key>API_KEY</key>
	<string>AIzaSyBT6w_lzvGQeiEC1VkMugxD7kBUIq5cb7M</string>
	<key>GCM_SENDER_ID</key>
	<string>778331978928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myplans</string>
	<key>PROJECT_ID</key>
	<string>myplans-437c0</string>
	<key>STORAGE_BUCKET</key>
	<string>myplans-437c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778331978928:ios:3dc437d07a066331a84f75</string>
</dict>
</plist>